# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.NebulaRoles.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Projects\Modding\Among Us\NebulaRoles\NebulaRoles\.idea\.idea.NebulaRoles.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
