# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MafiaRoles.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Projects\Modding\Among Us\MafiaRoles\MafiaRoles\.idea\.idea.MafiaRoles.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
